<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Wheeler</title>


  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>

  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="favicon.png">


</head>

<body>

  <div class="container-fluid" style="position: absolute;margin-top: 50px;">
    <h1 align="center" style="color: white;">Welcome To Wheeler</h1>
  </div>

  <div class="container-fluid" style="position: absolute;margin-top: 150px;">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6"><br />
        <div class="card" align="center">
          <div class="card-body" align="center">
            <div class="row">
              <div class="col-lg-12">
                <ul id="chat-responses" class="chat-messages"></ul>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <ul id="chat-input" class="chat-messages"></ul>
              </div>
            </div>
            <input class="form-control" id="chat-input" type="text" placeholder="What do you want to know?">
          </div>
          <div class="row">
            <div class="col-lg-12">
              <svg class="mic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1" x="0px" y="0px" viewbox="0 0 100 100" enable-background="new 0 0 100 100"
                xml:space="preserve">
                <path
                  d="M64.825,38.252c-1.024,0-1.853,0.83-1.853,1.853v11.119c0,7.153-5.819,12.972-12.972,12.972s-12.972-5.819-12.972-12.972  V40.105c0-1.024-0.83-1.853-1.853-1.853s-1.853,0.83-1.853,1.853v11.119c0,8.57,6.498,15.648,14.825,16.573v10.258h-6.25  c-1.024,0-1.853,0.83-1.853,1.853c0,1.024,0.83,1.853,1.853,1.853h16.207c1.024,0,1.853-0.83,1.853-1.853  c0-1.024-0.83-1.853-1.853-1.853h-6.25V67.797c8.327-0.925,14.825-8.003,14.825-16.573V40.105  C66.678,39.082,65.849,38.252,64.825,38.252z">
                </path>
                <path
                  d="M50,61.972c5.926,0,10.748-4.822,10.748-10.748V28.987c0-5.926-4.822-10.748-10.748-10.748S39.252,23.06,39.252,28.987  v22.238C39.252,57.151,44.074,61.972,50,61.972z M42.958,28.987c0-3.883,3.159-7.042,7.042-7.042s7.042,3.159,7.042,7.042v22.238  c0,3.883-3.159,7.042-7.042,7.042s-7.042-3.159-7.042-7.042V28.987z">
                </path>
                <g>
                  <path
                    d="M50,95C25.187,95,5,74.813,5,50S25.187,5,50,5s45,20.187,45,45S74.813,95,50,95z M50,7.903   C26.788,7.903,7.903,26.788,7.903,50S26.788,92.097,50,92.097S92.097,73.212,92.097,50S73.212,7.903,50,7.903z">
                  </path>
                </g>
              </svg>
              <div class="recording-status">Speak Your Query</div>
            </div>
            <div class="col-lg-8">

              <div class="col-lg-4">
                <br>
                <button class="btn btn-block btn-danger" id="post-chat" type="button"
                  style="position: relative;margin-left: 135px;">Send</button><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
  <div class="container-fluid" style="position: absolute;margin-top: 380px;">
  <img src="wheeler_logo.png" class="rounded mx-auto d-block"
    alt="Wheeler">
    </div>
  <script src="js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</body>

</html>